<!--NavBar: HTML of uiNavbar Directive-->

<!--Bootstrap responsive Navbar-->
<nav role="navigation" class="navbar navbar-default">

  <div class="navbar-header">

    <!--Responsive button-->
    <button type="button" data-target="#Options" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Menu</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!--Title of Navbar-->
    <a href="#" class="navbar-brand">{{title}}</a>
  </div>

  <div id="Options" class="collapse navbar-collapse">

    <!--Itens inside Navbar-->
    <ul class="nav navbar-nav item" ng-transclude>
    <!--HTML code will be inserted here-->
    </ul>

  </div>
</nav>
