<!--Menu: enable navigation trough the site-->
<ui-navbar title="Seredempia">
  <li class="active"><a href="#/Menu"><img class="logo" src="images/logo.png"/> Menu</a></li>
  <li><a href="#/Estudante"><img class="icone" src="images/student.png"/> Estudante</a></li>
  <li><a href="#/Escola"><img class="icone" src="images/school.png"/> Escola</a></li>
  <li><a href="#/Transporte"><img class="icone" src="images/transport.png"/> Transporte</a></li>
</ui-navbar>

<!--Student Helper-->
<ui-helper title="Estudante" side="right" image="images/student.png" link="#/Estudante">
Area destinada aos estudantes, ultilize-a para enviar uma solicitação de liberação de
compras de passagem de estudantes para sua instituição de ensino. Para seleciona-la
</ui-helper>

<!--School Helper-->
<ui-helper title="Escola" side="left" image="images/school.png" link="#/Escola">
Area destinada aos funcionarios de escola, ultilize-a para confirmar solicitações de alunos,
matriculados em sua instituição, para a liberação de compra de passagens com desconto para estudante. Para seleciona-la
</ui-helper>

<!--Transport Helper-->
<ui-helper title="Transporte" side="right" image="images/transport.png" link="#/Transporte">
Area destinada aos funcionarios de transporte, ultilize-a para verificar a lista de alunos que possuam autorização
para a compra de passagens com desconto para estudante. Para seleciona-la
</ui-helper>
