<nav role="navigation" class="navbar navbar-default">

  <div class="navbar-header">

    <button type="button" data-target="#Options" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Menu</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a href="#" class="navbar-brand">{{title}}</a>

  </div>

  <div id="Options" class="collapse navbar-collapse">

    <ul class="nav navbar-nav" ng-transclude>
    <!--HTML code will be inserted here-->
    </ul>

  </div>
</nav>
